<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Inventory Management </title>
</head>

<body>

    <h1> Welcome user please login to inventory management. </h1>
    <button onclick="redirectToAddProduct()">Add Product</button>
    <table border="1">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < productData.length; i++) { %>
                <tr>
                    <td><%= productData[i].product %></td>
                    <td><%= productData[i].quantity %></td>
                    <td><%= productData[i].amount %></td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <script>
        function redirectToAddProduct() {
            window.location.href = '/addProduct-form';
        }
    </script>
    </script>
</body>

</html>