<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Inventory Management </title>
</head>

<body>

    <h1> Welcome user please login to inventory management. </h1>
    <button onclick="redirectToAddProduct()">Add Product</button>
    <button onclick="redirectToUserTable()">User</button>
    <table border="1">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <% productData.forEach((items)=>{%> 
                <tr>
                    <td><%=items.product%></td> 
                    <td><%=items.quantity%></td> 
                    <td><%=items.amount%></td> 
                </tr>
            <%});%> 
        </tbody>
    </table>

    <button onclick="logout()">Logout</button>

    <script>
        function redirectToAddProduct() {
            window.location.href = '/addProduct-form';
        }

        function redirectToUserTable() {
            window.location.href = '/user';
        }

        function logout() {
            window.location.href = '/logout';
        }
    </script>
    </script>
</body>

</html>